body {
    font-family: Verdana, Helvetica, sans-serif;
}
.snowman{
	box-shadow: 0px 0px 10px red;
	margin-top:50px;
  animation: shadowThrob 0.9s infinite;
  animation-direction: alternate;
  -webkit-animation: shadowThrob 0.9s ease-out infinite;
  -webkit-animation-direction: alternate;
}
kbd{
	box-shadow: 0px 0px 10px red;
  animation: shadowThrob 0.9s infinite;
  animation-direction: alternate;
  -webkit-animation: shadowThrob 0.9s ease-out infinite;
  -webkit-animation-direction: alternate;
}
@keyframes shadowThrob {
  from {box-shadow: 0px 0px 10px red;}
  to {box-shadow: 0px 0px 35px red;}
}
@-webkit-keyframes shadowThrob {
  from {box-shadow: 0px 0px 10px red;}
  to {box-shadow: 0px 0px 35px red;}
}
@keyframes shadowThrob2 {
  from {box-shadow: 0px 0px 5px red;}
  to {box-shadow: 0px 0px 15px red;}
}
@-webkit-keyframes shadowThrob2 {
  from {box-shadow: 0px 0px 5px red;}
  to {box-shadow: 0px 0px 15px red;}
}
@font-face {
    font-family: merryFont;
    src: url(../fonts/FARRAY.otf);
}
#merry {
    font-family: merryFont;
}
@font-face {
    font-family: tFont;
    src: url(../fonts/Blenda.otf);
}
.tFont{
	font-family: tFont;
}
.photoFrame{
	width: 90%;
	border: 10px double black;
	margin-left: 5%;
	background: url(../images/bg.jpg);
}
kbd{
	background-color: #BC1F2A;
}
#xjtab,#tjtab,#sztab,#endtab{
	display:none;
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
}
#tjtab{
	color: white;
	text-shadow: 0 1px 0 #333;
}
#tabblur{
	filter: blur(5px);
	-webkit-filter: blur(5px);
}
.home, .toend{
	margin: 10px;
    font-family: tFont;
    font-size: 20px;
}
.home img, .toend img{
	height: 30px;
    padding-right: 5px;
}
table{
	margin-left:17px;
	margin-right:17px;
}
.toend{
	text-align: right;
}
audio{
  display: none;
}