body {
    font-family: Verdana, Helvetica, sans-serif;
}
.snowman{
	box-shadow: 0px 0px 10px red;
	margin-top:25px;
  animation: shadowThrob 0.9s infinite;
  animation-direction: alternate;
  -webkit-animation: shadowThrob 0.9s ease-out infinite;
  -webkit-animation-direction: alternate;
}
kbd{
	box-shadow: 0px 0px 10px red;
  animation: shadowThrob 0.9s infinite;
  animation-direction: alternate;
  -webkit-animation: shadowThrob 0.9s ease-out infinite;
  -webkit-animation-direction: alternate;
}
@keyframes shadowThrob {
  from {box-shadow: 0px 0px 10px red;}
  to {box-shadow: 0px 0px 25px red;}
}
@-webkit-keyframes shadowThrob {
  from {box-shadow: 0px 0px 10px red;}
  to {box-shadow: 0px 0px 25px red;}
}
@keyframes shadowThrob2 {
  from {box-shadow: 0px 0px 5px red;}
  to {box-shadow: 0px 0px 15px red;}
}
@-webkit-keyframes shadowThrob2 {
  from {box-shadow: 0px 0px 5px red;}
  to {box-shadow: 0px 0px 15px red;}
}
@font-face {
    font-family: merryFont;
    src: url(../fonts/FARRAY.otf);
}
#merry {
    font-family: merryFont;
}
@font-face {
    font-family: tFont;
    src: url(../fonts/Blenda.otf);
}
.tFont{
	font-family: tFont;
}
.photoFrame{
	width: 90%;
	height: 600px;
	border: 10px double black;
	margin-left: 5%;
	background: url(images/bg.jpg);
}
